@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@400;500&display=swap');

/* All html */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

/* Nav bar */
nav {
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    padding: 0 3vw;
    font-family: 'Poppins', sans-serif;
    background-color: #4286f5;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    z-index: 1;
}

.flex {
    display: flex;
    align-items: center;
}

.logo a {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    border: 1px solid white;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 310px;
    display: none;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 3vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    color: #4286f5;
    padding: 5px;
}

.sidebar ul li {
    font-size: 1.5rem;
    list-style: none;
    font-weight: 600;
}

.sidebar ul {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.menu,
.close {
    cursor: pointer;
}

.menu {
    display: none;
    padding-top: 3px;
}

.close {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    text-align: center;
}

.topic-elements {
    list-style: none;
    justify-content: space-between;
    width: 30vw;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.specialNavbar {
    display: flex;
}

.hover-topics {
    transition: color 0.3s ease;
}

.hover-topics.active {
    color: orange;
}

.hover-topics:not(.active):hover {
    cursor: pointer;
    color: black;
}

.input-search {
    width: 20vw;
    justify-content: space-evenly;
    height: 5vh;
}

input {
    width: 80%;
    height: 100%;
    padding: 5%;
    font-family: 'Poppins', sans-serif;
}

button.inputStyle {
    width: 10%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

input,
button.inputStyle:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}

.inputStyle {
    outline: none;
    border: none;
}

/* Cards */
main {
    margin-top: 100px;
    padding: 0px 40px;
    padding-bottom: 80px;
    font-family: 'Roboto', sans-serif;
}

p {
    color: var(--secondary-text-color);
}

h3,
h6 {
    color: var(--primary-text-color);
}

.cards-container {
    justify-content: space-between;
    align-items: start;
    row-gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 360px;
    height: 400px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #d4ceff;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ceff;
    background-color: #f9fdff;
    transform: translateY(-2px);
    cursor: pointer;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
}

.news-desc {
    text-overflow: ellipsis;
}

/* Scroll to top button */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4286f5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-weight: bolder;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}

#scrollToTopBtn.visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

#scrollToTopBtn:hover {
    background-color: var(--accent-color);
}

/* Responsiveness */
/* ipad */
@media screen and (min-width:600px) and (max-width:1025px) {

    .specialNavbar {
        display: none;
    }

    .menu {
        display: block;
    }

    .input-search {
        width: 50vw;
        height: 35px;
    }

    input {
        height: 100%;
        padding: 0 5%;
    }

    .cards-container {
        justify-content: center;
        column-gap: 2vw;
    }

    main {
        margin-top: 15vh;
    }
}

/* mobile phone */
@media screen and (max-width:599px) {
    .specialNavbar {
        display: none;
    }


    .menu {
        display: block;
    }


    nav {
        justify-content: space-evenly;
        height: 10vh;
        padding: 0 1%;
    }

    .cards-container {
        justify-content: center;
    }

    .sidebar {
        width: 100vw;
    }


    .input-search {
        justify-content: space-around;
        width: 50vw;
    }

    input {
        width: 90%;
        height: 3vh;
        padding: 0 5%;
    }

    button.inputStyle {
        width: 0%;
        height: 3vh;
        border-radius: 5px;
    }

    #searchButton {
        display: none;
    }
}